# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.sqlite3
media/

# Node
node_modules/
.next/
out/
.turbo/
*.tsbuildinfo

# Env
.env
.env.local
.env*.local

# OS / editors
.DS_Store
Thumbs.db
.idea/
.vscode/
